* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: dotty;
    src : url(assets/police/dotty.regular.ttf);
}

.calculatrice {
    border: 3px solid pink;
    border-radius: 5%;
    background: linear-gradient(#FEF0F8, #FFFFFF);
    box-shadow: 5px 5px 5px lightblue;
    width: 400px;
    height: 600px;
    margin: auto;
}

.ecran-calculatrice {
    border: 1px solid pink;
    background: linear-gradient(lightgray, #C4C4C4);
    box-shadow: inset 3px 3px 3px gray;
    width: 350px;
    height: 80px;
    margin: 20px;
    text-align: end;
    font-size: 100px;
    padding-top: 10px;
    font-family: 'dotty';
    color: darkslategray;
}

.clavier-calculatrice {
    width: 350px;
    height: 450px;
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.conteneur-clavier-chiffres {
    width: 200px;
    height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clavier-chiffres-calculatrice {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.clavier-chiffres-calculatrice-2 {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.clavier-chiffres-touches-calculatrice {
    border: 1px solid pink;
    border-radius: 50px;
    box-shadow: 2px 2px 2px lightblue;
    width: 30%;
    height: 30%;
    margin: 1px;
}

.grosse-touche-clavier-chiffre {
    border: 1px solid pink;
    border-radius: 30px;
    box-shadow: 2px 2px 2px lightblue;
    width: 50%;
    height: 100%;
    margin: 1px;
}
.clavier-calculs-calculatrice {
    width: 100px;
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.operateur-gros-conteneur {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.touches-operateur {
    border: 1px solid pink;
    border-radius: 50px;
    box-shadow: 2px 2px 2px lightblue;
    width: 100%;
    height: 25%;
    margin: 3px;
}

button {
    background: linear-gradient(pink, #F9D0E8);
    color: whitesmoke;
    font-weight: bold;
}

button:hover {
    border: 1px solid deeppink;
    background: linear-gradient(deeppink, pink);
    box-shadow: 2px 2px 2px gray;
}

button:active {
    border: 1px solid red;
    background: linear-gradient(red, deeppink);
    box-shadow: 2px 2px 2px gray;
}

.operateur-petit-conteneur {
    border: 1px solid pink;
    border-radius: 50px;
    box-shadow: 2px 2px 2px lightblue;
    width: 100%;
    height: 15%;
    margin-top: 40px;
}